body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7bb5a;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
}

.audioDiv {
  max-height: 250px;
  min-height: 70px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#offlineGen {
  width: 120px;
}

.sliders {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 20px;
}

.sliderIndividual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sliderIndividualBar {
  display: flex;
  width: 150px;
}

#loading {
  align-content: center;
  height: 5px;
  margin: 10px 0;
}

#loadingMessage {
  align-content: center;
  margin: 20px 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 90px;
}

.title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #6200ea;
  color: white;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #3700b3;
}

.loading-animation::after {
  content: '...';
  animation: dots 1.5s infinite steps(5, end);
}

/* @keyframes dots {
  0% {
    content: 'Generating';
  }
  25% {
    content: 'Generating.';
  }
  50% {
    content: 'Generating..';
  }
  75% {
    content: 'Generating...';
  }
  100% {
    content: 'Generating';
  }
} */

@keyframes dots {
  0% {
    content: '.';
  }
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '..';
  }
  100% {
    content: '.';
  }
}
